{% extends 'base.html' %}

{% block title %}
Рейтинг
{% endblock %}


{% block body %}

<h1>Пользователи сайта</h1>

<table class>
    <tbody>
    <tr>
    <th style="width:2em;" class="top">&nbsp;</th>
    <th style="text-align:left;" class="top">  Имя  </th>
<!--    <th style="width:2em;" class="top"><span title="Количество участий в каточках">№</span></th>-->
    <th style="width:2em;" class="top">  Рейтинг  </th>
         {% if user.mode <= 1 %}
        <th style="width:2em;" class="top">  Доступ  </th>
        <th style="width:2em;" class="top">  id  </th>

        {% endif %}
    </tr>

    {% for i in range(0, sz) %}
        <tr>
        <td class="dark">
            {{i + 1}}
        </td>
        <td class="dark">
            {{all_users[i].name}}
            {% if user.id == all_users[i].id %}
            (Вы)
            {% endif %}
        </td>
        <td class="dark">
            {{ all_users[i].rating }}
        </td>
            {% if user.mode <= 1 %}
            <td class="dark">
                {% if all_users[i].mode == 0 %}
                1
                {% else %}
                {{all_users[i].mode}}
                {% endif %}
            </td>
            <td class="dark">
                {{all_users[i].id}}
            </td>
            {% endif %}
    {% endfor %}
</tr>
    </tbody>
</table>

{% endblock %}