{% extends 'base.html' %}

{% block title %}
Создайте свой пост
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Привет, Модератор или кто по-выше! Тут ты можешь нассать какую-нибудь статейку</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Название твоей ссанины"><br>
        <textarea name="text" id="text" class="form-control" placeholder="Текст твоей ссанины"></textarea><br>
        <input type="submit" class="btn btn-success" value="Нассать!"><br>
    </form>
</div>
{% endblock %}