{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<div class="container mt-5">
    <p style="font-style: normal; font-size: larger; font-family: cursive; font-weight: bold" align="center" >
          Дорогой пользователь, добро пожаловать на интеллектуальную платформу <b>BrawlBook</b>! </p>
    <p style="font-style: normal; font-size: larger; font-family: cursive; font-weight: bold" align="center" >
            <b>BrawlBook</b> - это международная организация, созданная гениальными людьми для интересного эксперимента и новых ощущений, при поддержке NBA.
         </p>
    <p style="font-style: normal; font-size: larger; font-family: cursive; font-weight: bold" align="center" >
        <b>BrawlBook</b> - это не просто сайт для подсчета рейтинга, это совмещение инновационной нейросети и простоты использования. Вместе эти факторы дают вам хороший и удобный сайт, где можно посоревноваться с друзьями в скилле, изучить профиль ваших врагов и насладиться статьями об игровых событиях, которые каждый день пишут наши профессиональные редакторы.
            Наша цель заключается в том, чтобы каждый мог получить новые впечатления и азарт, который ранее был недоступен из-за отсутствия системы личного рейтинга.
        </p>
    <p style="font-style: normal; font-size: larger; font-family: cursive; font-weight: bold" align="center" >
        Изучайте блог, смотрите профили друг друга, соревнуйтесь и просто наслаждайтесь!

            С уважением, администрация <b>BrawlBook</b>
      </p>
</div>
{% endblock %}