{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Авторизация</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Твоё ссаное имя"><br>
        <input type="password" name="password" id="password" class="form-control" placeholder="Твой ссаный пароль"></input><br>
        <input type="submit" class="btn btn-success" value="Нассать!"><br>
    </form>
</div>
{% endblock %}