{% extends 'base.html' %}

{% block title %}
Все посты
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Посты в BrawlBook</h1>

    {% if sz == 0 %}
        <div class="alert alert-info">
            <h5>Тут пока что ничего нет...</h5>
        </div>
    {% endif %}

    {% for el in articles %}
    <div class="alert alert-info">
        <h2>{{el.title}}</h2>
        <p><b>Автор ссанья: {{el.author_name}}</b></p>
        <p><b>Дата ссанья: {{el.date.date()}}</b></p>
        <a href="/post/{{el.id}}" class="btn btn-warning">Посмотреть полностью</a>
    </div>
    {% endfor %}
</div>
{% endblock %}