{% extends 'base.html' %}

{% block title %}
Твой сраный профиль
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{profile.name}}</h1>
    <h2>Рейтинг: {{profile.rating|round(1)}}</h2>

    {% if user.mode < 3 %}
    <h2>Уровень доступа: {{xmode[profile.mode]}}</h2>
    {% endif %}

    <h4>История Рейтинга</h4>

    <table class="table table-striped table-bordered">
    <tbody>


    <tr>
    <th style="text-align:left;" class="top">  Дата каточки  </th>
    <th style="width:2em;" class="top">  Рейтинг  </th>
    </tr>

    {% for i in range(0, sz) %}
    <tr>
        {% if round_history[i] == None %}
        <td class="dark">
            {{ rating_history[i].date.date() }}
        </td>
        {% else %}
        <td class="dark">
            <a href="/rounds/{{ round_history[i].id }}">{{ rating_history[i].date.date() }}</a>
        </td>
        {% endif %}
        <td class="dark">
            {{ rating_history[i].value|round(1) }}
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>


    <a href="/users" class="btn btn-success">Вернуться назад</a>

    {% if user.mode <= profile.mode and user.mode <= 1
    %}
    <a href="/user/{{profile.id}}/update" class="btn btn-warning">Изменить информацию о пользователе</a>
    {% endif %}

</div>
{% endblock %}