{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Регистрация</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Твоё ссаное имя"><br>
        <input type="password" name="password" id="password" class="form-control" placeholder="Твой ссаный пароль"></input><br>
        <input type="password" name="password2" id="password2" class="form-control" placeholder="Повтори пароль"></input><br>
        <input type="submit" class="btn btn-success" value="Нассать!"><br>
    </form>

    <h5>Уже есть аккаунт? Так войди блять!</h5>
    <a class="me-3 py-2 text-dark text-decoration-big" href="/login">Войти в аккаунт</a>
</div>
{% endblock %}