{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}

<div class="container mt-5" align="left">

     <h1>Пользовательское соглашение</h1>



     <p>Настоящий документ «Пользовательское соглашение» представляет собой предложение ООО «BrlBook» (далее — «Администрация»), заключить договор на изложенных ниже условиях Соглашения. </p>


     <h3>1. Общие положения Пользовательского соглашения</h3>

     <p>1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон применяются следующие термины и определения:
     а) Платформа — программно-аппаратные средства, интегрированные с Сайтом Администрации;
     б) Пользователь — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе либо выступающее от имени и в интересах представляемого им юридического лица. в) Сайт Администрации/ Сайт — интернет-сайты, размещенные в домене _____.ru и его поддоменах.
     г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.
     д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.
     </p>

     <p>
     1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая:

     просмотр размещенных на Сайте материалов;
     регистрация и/или авторизация на Сайте;
     размещение или отображение на Сайте любых материалов, включая , но  не ограничиваясь такими как: тексты, гипертекстовые ссылки, изображения, аудио и видеофайлы, сведения и/или иная информация;
     создает договор на условиях настоящего Соглашения в соответствии с   положениями ст.437 и 438 Гражданского кодекса Российской Федерации.
     </p>
     <p>
     1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:
     а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса.

     б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса.

     в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения.


     </p>
     <h3>2. Общие условия пользования Сервисом</h3>

     <p>
     2.1. Использование функциональных возможностей Сервиса допускается только после прохождения Пользователем регистрации и авторизации на Сайте в соответствии с установленной Администрацией процедурой.
     </p>
     <p>
      2.2. Технические, организационные и коммерческие условия использования Сервиса, в том числе его функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.
     </p>

     <p>
     2.3. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.
     </p>

     <p>
     2.4. Пользуясь сервисом, вы соглашаетесь с тем, что создатели сайта пользуются беспрекословным авторитетом и любое их действие считается неоспоримым и не подлежит аргументации.
     </p>

<!--     <p>-->
<!--     2.5. После регистрации на сервисе вы подтверждаете, что уровень вашего скилла меньше, чем у создателей.-->
<!--     </p>-->

<!--     <p>-->
<!--     2.6. Пользуясь сервисом в качестве “обычного пользователя” вы подтверждаете, что ваш член меньше 10 сантиметров.-->
<!--     </p>-->

<!--     <p>-->
<!--     2.7. Пользуясь сервисом в качестве “обычного пользователя” вы подтверждаете, что вы ставите Brl Stars выше любой цели в жизни.-->
<!--     </p>-->

<!--     <p>-->
<!--     2.8. Пользуясь сервисом в качестве “обычного пользователя” вы подтверждаете, что вы готовы инвестировать в проект “BrlBook” от 5000 рублей в месяц.-->
<!--     </p>-->

<!--     <p>-->
<!--     2.9. Пользуясь сервисом в качестве “обычного пользователя” вы подтверждаете, что создатели сайта “BrlBook” являются гениями и достойны бесчисленных похвал.-->
<!--     </p>-->

<!--     <p>-->
<!--     2.10. Пользуясь сервисом в качестве “обычного пользователя” вы согласны с цитатой: “Со мной в команде Сашнам, давайте не на рейтинг пожалуйста!”.-->
<!--     </p>-->
</div>
{% endblock %}